.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    color: #11b883;
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header-button {
    background-color: #098860;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-button:hover {
    background-color: #07694a;
}