.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.translation-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}