.footer {
    color: #11b883;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; 
}

.footer h3 {
    margin-bottom: 15px;
}

.footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    list-style-type: none;
    padding: 0;
}

.footer li {
    background-color: #11b883; 
    padding: 5px; 
    border-radius: 5px; 
    text-align: center;
    color: black;
}